Backup
Game.Plugins/FellSky.core.dll
Game.Plugins/FellSky.core.pdb
Game.Plugins/FellSky.editor.dll
Game.Plugins/FellSky.editor.pdb
Game.Plugins/FellSky.Common.core.dll
Game.Plugins/FellSky.Common.core.pdb
FellSky.Core.Plugin/bin
FellSky.Core.Plugin/obj
FellSky.Editor.Plugin/bin
FellSky.Editor.Plugin/obj
Temp
logfile.txt
logfile*.txt
perflog*.txt
DesignTimeData.dat
UserData.dat
*.suo
EditorUserData.xml
.vs
*.user
*.vspx
*.psess
packages/*
Game/Plugins/FellSky*